<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neko.mapper.CustomerDataMapper">
    <select id="selectList" resultType="com.neko.entity.CustomerData">
        SELECT * FROM customer_data
        <where>
            <if test="customerName != null and customerName != ''">
                AND customer_name LIKE CONCAT('%', #{customerName}, '%')
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="contact != null and contact != ''">
                AND contact LIKE CONCAT('%', #{contact}, '%')
            </if>
            <if test="valueLevel != null and valueLevel != ''">
                AND value_level = #{valueLevel}
            </if>
            <if test="minCommunication != null">
                AND communication_count >= #{minCommunication}
            </if>
            <if test="maxCommunication != null">
                AND communication_count &lt;= #{maxCommunication}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectById" resultType="com.neko.entity.CustomerData">
        SELECT * FROM customer_data WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.neko.entity.CustomerData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer_data (
            customer_name, channel, contact, address,
            communication_count, last_intention, value_level, item_category, status
        ) VALUES (
            #{customerName}, #{channel}, #{contact}, #{address},
            #{communicationCount}, #{lastIntention}, #{valueLevel}, #{itemCategory}, #{status}
        )
    </insert>

    <update id="update" parameterType="com.neko.entity.CustomerData">
        UPDATE customer_data
        <set>
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="channel != null">channel = #{channel},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="address != null">address = #{address},</if>
            <if test="lastIntention != null">last_intention = #{lastIntention},</if>
            <if test="valueLevel != null">value_level = #{valueLevel},</if>
            <if test="itemCategory != null">item_category = #{itemCategory},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE customer_data SET status = #{status}
        WHERE id = #{id}
    </update>

    <update id="incrementCommunicationCount">
        UPDATE customer_data 
        SET communication_count = communication_count + 1
        WHERE id = #{id}
    </update>
</mapper> 