<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neko.mapper.SysDictDataMapper">
    <select id="selectList" resultType="com.neko.entity.SysDictData">
        SELECT * FROM sys_dict_data
        <where>
            <if test="dictCode != null and dictCode != ''">
                AND dict_code = #{dictCode}
            </if>
        </where>
        ORDER BY sort_order ASC, create_time DESC
    </select>

    <select id="selectById" resultType="com.neko.entity.SysDictData">
        SELECT * FROM sys_dict_data WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.neko.entity.SysDictData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_dict_data (
            dict_code, dict_label, dict_value, sort_order, status, remark
        ) VALUES (
            #{dictCode}, #{dictLabel}, #{dictValue}, #{sortOrder}, #{status}, #{remark}
        )
    </insert>

    <update id="update" parameterType="com.neko.entity.SysDictData">
        UPDATE sys_dict_data
        <set>
            <if test="dictLabel != null">dict_label = #{dictLabel},</if>
            <if test="dictValue != null">dict_value = #{dictValue},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE sys_dict_data SET status = #{status}
        WHERE id = #{id}
    </update>
</mapper> 